.container-addRov{
  padding-top: 10%;
  display: flex;
  width: 100%;
  height: 50vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.text-wrapper {
  color: #000000;
  font-family: "K2D-Regular", Helvetica;
  font-weight:400 ;
}